/* Fonts */
@font-face {
    font-family: "CrimsonPro";
    src: url("fonts/CrimsonPro-Regular.ttf");
}

@font-face {
    font-family: "FontAwesome";
    src: url("fonts/FontAwesome.otf");
}

@font-face {
    font-family: "LatoRegular";
    src: url("fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "PeInter";
    src: url("fonts/Pe-icon-set-interface.ttf");
}

@font-face {
    font-family: "WorkBold";
    src: url("fonts/WorkSans-Bold.ttf");
}

@font-face {
    font-family: "WorkMedium";
    src: url("fonts/WorkSans-Medium.ttf");
}

body {
    margin: 0;
    background-color: #fffff5;

}

.mainWrap {
    margin-right: auto;
    /* centers content */
    margin-left: auto;
    /* centers content */
    max-width: 1400px;
    /* sets width of content */
    /* padding-right: 20px;
    padding-left: 20px; */
}

.wrapper {
    margin-right: auto;
    /* centers content */
    margin-left: auto;
    /* centers content */
    max-width: 1100px;
    /* sets width of content */
    padding-right: 20px;
    padding-left: 20px;
    width: 90%;
}

.header {
    background-color: #003349;
}

.headerLogo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headBackground {
    background: url("assets/tealwave.png") no-repeat center top;
    background-size: cover;
    height: 922px;
}

.head {
    text-align: center;
    padding-top: 50px;
    color: #003349;

}

.crimson {
    font-family: "CrimsonPro";
    font-size: 40px;
}

.space {
    max-width: 890px;
    margin-right: auto;
    margin-left: auto;
}

.mediumP {
    font-family: "WorkMedium";
}

.emer {
    font-family: "WorkBold";
}

.oranges {
    float: right;
    z-index: auto;
    padding-top: 544px;
    margin-bottom: -553px;
    max-width: 135px;
}

.hand {
    float: right;
    z-index: auto;
    margin-bottom: -585px;
}

.latoP {
    font-family: "LatoRegular";
}

.boldButton {
    font-family: "WorkBold";
    color: #01222D;
}

.relief {
    padding-bottom: 150px;
    margin-right: 46%;
    margin-left: auto;
    padding-left: 40px;
    z-index: 7;
    color: #01222D;
}

.magenta {
    color: #e3c1e5;
    text-decoration: none;
}

.magButton {
    background-color: #e3c1e5;
    border: none;
    border-radius: 1rem;
    padding: 10px 6px;
    width: 400px;
    color: #01222D;
}

.buttonText {
    padding-top: 2px;
}

.arrowS {
    margin-left: -100px;
}

.arrowW {
    margin: -48px;
}

.arrow {
    height: 30px;
    width: 49px;
}

.bluePack {
    padding-top: 143px;
}

.orangeSp {
    padding-top: 504px;
    padding-left: 202px;
}

.sideLine {
    border-left: #4D646C 1px solid;
}

.sideSpace {
    padding-left: 30px;
    color: #01222D;
}

.counseling {
    padding-bottom: 50px;
    max-width: 615px;
}

.softBlue {
    color: #abbbed;
    text-decoration: none;
}

.sBlueButton {
    background-color: #abbbed;
    border: none;
    border-radius: 1rem;
    padding: 10px 0px;
    width: 400px;
    color: #01222D;
}

.walkIn {
    padding-bottom: 50px;
    max-width: 615px;
}

.lightGreen {
    color: #b7e3dd;
    text-decoration: none;
}

.lGreenButton {
    background-color: #b7e3dd;
    border: none;
    border-radius: 1rem;
    padding: 10px 0px;
    width: 400px;
    color: #01222D;
}

.kidHelp {
    padding-bottom: 50px;
    max-width: 615px;
}

.blue {
    color: #a2c6dd;
    text-decoration: none;
}

.blueButton {
    background-color: #a2c6dd;
    border: none;
    border-radius: 1rem;
    padding: 10px 0px;
    width: 400px;
    color: #01222D;
}

.family {
    padding-bottom: 50px;
    max-width: 615px;
}

.orange {
    color: #ffe2ce;
    text-decoration: none;
}

.orangeButton {
    background-color: #ffe2ce;
    border: none;
    border-radius: 1rem;
    padding: 10px 0px;
    width: 400px;
    color: #01222D;
}

.purpSpeck {
    padding-top: 100px;
    padding-bottom: 100px;
}

.greenSpeck {
    padding-top: 190px;
    padding-bottom: 200px;
}

.pinkPack {
    padding-top: 75px;
}

.oCrop {
    float: right;
    padding-right: 0px;
}

.pCloud {
    float: right;
    padding-right: 0px;
}

.topSpace {
    padding-top: 100px;
}

.bounce {
    padding-bottom: 50px;
    max-width: 615px;
    padding-left: 30px;
}

.pink {
    color: #ffc9c8;
    text-decoration: none;
}

.pinkButton {
    background-color: #ffc9c8;
    border: none;
    border-radius: 1rem;
    padding: 10px 0px;
    width: 400px;
    color: #01222D;
}

.board {
    background-color: #144E63;
    z-index: 7;

}

.boardTitle {
    text-align: center;
    font-family: "CrimsonPro";
    color: #a2c6dd;
    font-size: 60px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.center {
    text-align: center;
}

.boardPic {
    border: 7px solid #a2c6dd;
    border-radius: 50%;
}

.name {
    color: white;
    font-family: "CrimsonPro";
    font-size: 26px;
}

.edu {
    color: #BCBCC1;
    font-family: "LatoRegular";
    font-size: 14px;
    padding-bottom: 25px;
}

.description {
    color: white;
    font-family: "WorkMedium";
    font-size: 13px;
}

.bottom {
    padding-top: 50px;
    text-align: center;
}

.bWrap {
    max-width: 892px;
    margin-right: auto;
    margin-left: auto;
}

.crimBottom {
    font-family: "CrimsonPro";
    font-size: 60px;
}

.bottomP {
    padding-top: 20px;
    font-family: "WorkMedium";
    font-size: 20px;
}

.bLogo {
    padding-top: 60px;
    padding-bottom: 30px;
}

.crimP {
    font-family: "CrimsonPro";
    font-size: 28px;
    color: #4D646C;
    padding-bottom: 40px;
}

.cents {
    text-align: center;
}

.icons {
    /* text-align: center; */
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width:575.98px) {
    .relief {
        margin-right: 0%;
        margin-left: 0%;
        padding-left: 30px;
        padding-bottom: 60px;
    }

    .magButton {
        width: 350px;
    }

    .sideLine {
        border-left: none;
    }

    .sideSpace {
        padding-left: 30px;
        padding-right: 30px;
    }

    .boldButton {
        font-size: 12px;
    }

    .arrow {
        height: 24px;
    }

    .sBlueButton {
        width: 350px;
    }

    .lGreenButton {
        width: 350px;
    }

    .blueButton {
        width: 350px;
    }

    .orangeButton {
        width: 350px;
    }

    .pinkButton {
        width: 350px;
    }

    .topSpace {
        padding-top: 10px;
    }

    .board {
        padding-bottom: 70px;
    }

    .bWrap {
        padding-right: 20px;
        padding-left: 20px;
    }

    .img-fluid.boardPic {
        max-width: 355px;
    }
}